/*
 First External CSS Stylesheet
 */

/* Styling for HTML elements */
body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.2vmin;
  line-height: 150%;
  color: rgba(239, 245, 247, 0.945);
  background: #5c5948da;
  /*background-image: url(valley.jpg);
  background-attachment: fixed;
  background-position: 50% 50%;
*/
}

header {
  background: rgb(32, 30, 30);
  font-family: "Lucida Console", Courier, monospace;
  font-size: 16px;
}

ion-icon {
  font-size: 24px;
}

.card {
  border-color:rgb(230, 173, 230);
  margin:5px;
  border-style:solid;
  color:#5c5948da;
  background: rgba(238, 238, 238, 0.829);
  text-align:center;
  width:30vw;
  height: 20vh;
  float:left;
  transition-duration: 0.5s;
}

.card:hover{
  transform: scale(1.1);
  z-index: 5;
}


h1 {
  font-family: cursive;
  font-size: 48px;
  color: #eee;
}

h3 {
  font-family: "Lucida Console", Courier, monospace;
  float:right;
}

a {
  color: #d68d63;
}

/* Selecting elements by class */
.container {
  margin: 0 auto;
  align-content:  stretch;
}

.ul.list-group:after {
  clear: both;
  display: block;
  content: "";
}

.list-group-item {
    float: left;
    align: center;
    border-color:rgb(230, 173, 230);
    margin:5px;
    border-style:solid;
    background: rgba(238, 238, 238, 0.829);

}

/* Selecting elements by ID */
#main-bio,
#contact-info{
  float: right;
}


#bio-name {  
  color: whitesmoke;
}


