/*
 First External CSS Stylesheet
 */

/* Styling for HTML elements */
body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.5vmin;
  line-height: 150%;
}

header {

  font-size: 16px;
}

h1 {

  font-size: 48px;
  margin-left:20px;
  color: #eee;
  
}

h3 {

  float:left;
  margin-left:10px;
}

a {
  /*color: #d68d63;*/
  color: #4fa3c4fd;
}

img{
  display:block;
  width:50%;
  margin:auto;
  margin-top:5px;
}

ion-icon {
  font-size: 20px;
}

.dropdown-item{
  color: #f9fbe7;
}

/* Selecting elements by class */
.card {
  border-color:lightslategrey;
  margin:5px;
  border-style:double;
  color:#4b535fda;
  background:#f3f5f7;
  text-align:center;
  width:30vw;
  height: 40vh;
  float:left;
  transition-duration: 0.5s;
}

.card:hover{
  transform: scale(1.05);
  z-index: 2;
}

.badge-secondary{
  background-color: rgba(25, 166, 201, 0.829);
  /*color: #5c5948da;*/
  color: #dce5eb;
}

.badge-secondary:hover{
  color:#ffecb3;
}

.container {
  margin: 0 auto;
  align-content:  stretch;
}

.ul.list-group:after {
  clear: both;
  display: block;
  content: "";
}

.list-group-item {
    float: left;
    align: center;
    border-color:lightslategrey(230, 173, 230);
    margin:5px;
    border-style:solid;
    background: rgba(238, 238, 238, 0.829);

}

.navbar{
  color:white;
  background-color:#59aed8;
}

/* Selecting elements by ID */
#main-bio,
#contact-info{
  margin-left:20px;
}


#bio-name {  
  /*color: #d68d63;*/
  
  color:#52a0be;
}


