/*
 First External CSS Stylesheet
 */

/* Styling for HTML elements */
body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 150%;
  color: rgb(51, 51, 51);
  background: #efeee7;
}

header {
  background: rgb(32, 30, 30);
  font-family: "Lucida Console", Courier, monospace;
  font-size: 16px;
}

ion-icon {
  font-size: 24px;
}

h1 {
  padding: 15px 0;
  margin: 0;
  margin-bottom: 25px;
  font-family: cursive;
  font-size: 28px;
  color: #eee;
  text-align: center;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
  font-family: "Lucida Console", Courier, monospace;
  color: rgb(51, 51, 51);
  text-align: center;
}
a {
  color: #d68d63;
}

/* Selecting elements by class */
.container {

  margin: 0 auto;
  align-content:  stretch;
}

/* Selecting elements by ID */
#main-bio,
#contact-info,
#bio-image {
  float: left;
}

#figure {
  position: relative;
}

#bio-name {
  position: absolute;
  top: 200px;
  left: 100px;
  color: whitesmoke;
}


#bio-image {
  width: 200px;
  height: 250px;
  margin-right: 20px;
}
